Repository trailofbits/algo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, ansible-syntax

ansible-lint:
  name: Ansible-lint
  entry: bash -c 'uv run ansible-lint --force-color || echo "Ansible-lint had issues - check output"'
  language: system
  pass_filenames: false

ansible-syntax:
  name: Ansible syntax check
  entry: bash -c 'uv run ansible-playbook main.yml --syntax-check'
  language: system
  pass_filenames: false

Update gitignore and some experiments
  .gitignore
  algo-ubuntu.sh
  config.cfg
  pyvenv.cfg
Due: none

Add support for XRAY protocol
  CLAUDE.md
  README.md
  config.cfg
  input.yml
  roles/common/templates/rules.v4.j2
  roles/common/templates/rules.v6.j2
  roles/xray/defaults/main.yml
  roles/xray/handlers/main.yml
  roles/xray/meta/main.yml
  roles/xray/tasks/clients.yml
  roles/xray/tasks/configure.yml
  roles/xray/tasks/install.yml
  roles/xray/tasks/keys.yml
  roles/xray/tasks/main.yml
  roles/xray/templates/client-config.json.j2
  roles/xray/templates/config.json.j2
  roles/xray/templates/vless-link.txt.j2
  roles/xray/templates/xray.service.j2
  server.yml
Due: ansible-lint, ansible-syntax

Debug restart dnscrypt-proxy service error
  roles/common/tasks/ubuntu.yml
Due: ansible-lint

Debugging IPv6 support
  roles/common/templates/10-algo-lo100.network.j2
  roles/dns/tasks/ubuntu.yml
Due: ansible-lint

Fix parsing keys for X-Ray protocol
  roles/xray/tasks/keys.yml
Due: ansible-lint

Fix protocol selection
  input.yml
  playbooks/cloud-post.yml
Due: ansible-lint

Remove unused parameter `xray_network_ipv4`
  roles/common/templates/rules.v4.j2
  roles/xray/defaults/main.yml
Due: ansible-lint, ansible-syntax

Add missed docs and pre-PR fixes
  README.md
  config.cfg
  docs/client-xray.md
  input.yml
  roles/common/tasks/ubuntu.yml
  server.yml
  users.yml
Due: ansible-lint, ansible-syntax

Fix support for IPv6 iptables
  roles/common/tasks/iptables.yml
Due: ansible-lint

Update gitignore
  .gitignore
Due: none

Fix AIP boolean assertion for Ansible 12 jinja2_native mode
  roles/common/tasks/aip/main.yml
Due: ansible-lint, ansible-syntax

docs: add tests vs filters pattern for boolean checks
  CLAUDE.md
Due: none

docs: add tests vs filters pattern for boolean checks (#14951)
  CLAUDE.md
Due: none

fix(aip): correct assertion for SNAT IPv4 address validation
  roles/common/tasks/aip/main.yml
Due: ansible-lint, ansible-syntax

fix(aip): correct assertion for SNAT IPv4 address validation (#14949)
  roles/common/tasks/aip/main.yml
Due: ansible-lint, ansible-syntax

fix(ec2): change default instance type from t2.micro to t3.micro
  config.cfg
  docs/cloud-amazon-ec2.md
  docs/deploy-from-ansible.md
  roles/cloud-ec2/files/stack.yaml
Due: ansible-lint

fix(ec2): change default instance type from t2.micro to t3.micro (#14952)
  config.cfg
  docs/cloud-amazon-ec2.md
  docs/deploy-from-ansible.md
  roles/cloud-ec2/files/stack.yaml
Due: ansible-lint

fix: GCE region selection displays complete names instead of characters
  roles/cloud-gce/tasks/prompts.yml
Due: ansible-lint

fix: GCE region selection displays complete names instead of characters (#14953)
  roles/cloud-gce/tasks/prompts.yml
Due: ansible-lint

ci: modernize tooling with prek, ty, and security scanning
  .ansible-lint
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
  tests/integration/ansible-service-wrapper.py
  tests/test_cloud_init_template.py
  tests/unit/test_ansible_12_boolean_fix.py
  tests/unit/test_boolean_variables.py
  tests/unit/test_comprehensive_boolean_scan.py
  tests/unit/test_double_templating.py
  tests/unit/test_lightsail_boto3_fix.py
  tests/unit/test_openssl_compatibility.py
  tests/unit/test_scaleway_fix.py
  tests/unit/test_strongswan_templates.py
  tests/unit/test_yaml_jinja2_expressions.py
  tests/validate_jinja2_templates.py
  uv.lock
Due: ansible-lint

fix(ci): resolve actionlint install and ty type errors
  .github/workflows/lint.yml
  .github/workflows/security.yml
  pyproject.toml
Due: none

fix(ci): use glob pattern for actionlint, exclude all tests from ty
  .github/workflows/lint.yml
  pyproject.toml
Due: none

fix(ci): quote shell variables to fix shellcheck warnings
  .github/workflows/integration-tests.yml
  .github/workflows/test-effectiveness.yml
Due: none

fix(ci): move key-order[task] to warn_list
  .ansible-lint
Due: none

ci: modernize tooling with prek, ty, and security scanning (#14956)
  .ansible-lint
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/test-effectiveness.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
  tests/integration/ansible-service-wrapper.py
  tests/test_cloud_init_template.py
  tests/unit/test_ansible_12_boolean_fix.py
  tests/unit/test_boolean_variables.py
  tests/unit/test_comprehensive_boolean_scan.py
  tests/unit/test_double_templating.py
  tests/unit/test_lightsail_boto3_fix.py
  tests/unit/test_openssl_compatibility.py
  tests/unit/test_scaleway_fix.py
  tests/unit/test_strongswan_templates.py
  tests/unit/test_yaml_jinja2_expressions.py
  tests/validate_jinja2_templates.py
  uv.lock
Due: ansible-lint

security: remove unused sshpubkeys dependency (CVE-2024-23342)
  pyproject.toml
  uv.lock
Due: none

security: remove unused sshpubkeys dependency (CVE-2024-23342) (#14957)
  pyproject.toml
  uv.lock
Due: none

test: validate config.cfg against deprecated cloud instance types
  tests/unit/test_cloud_provider_configs.py
Due: none

test: validate config.cfg against deprecated cloud instance types (#14958)
  tests/unit/test_cloud_provider_configs.py
Due: none

Add tests for Xray/VLESS role
  tests/fixtures/test_variables.yml
  tests/unit/test_template_rendering.py
  tests/unit/test_xray_vless.py
Due: ansible-lint

Remove unexpected edits in config
  config.cfg
Due: none

Fix iptables templates for x-ray only
  roles/common/templates/rules.v4.j2
  roles/common/templates/rules.v6.j2
  tests/unit/test_xray_vless.py
Due: none

docs: add non-interactive deployment reference to CLAUDE.md
  CLAUDE.md
Due: none

docs: add non-interactive deployment reference to CLAUDE.md (#14962)
  CLAUDE.md
Due: none

fix: add explicit bool filters for Ansible 12 jinja2_native compatibility
  algo
  input.yml
  roles/cloud-azure/tasks/main.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-digitalocean/tasks/main.yml
  roles/cloud-digitalocean/tasks/prompts.yml
  roles/cloud-ec2/tasks/prompts.yml
  roles/cloud-gce/tasks/prompts.yml
  roles/cloud-hetzner/tasks/prompts.yml
  roles/cloud-linode/tasks/prompts.yml
  roles/cloud-vultr/tasks/prompts.yml
  roles/common/defaults/main.yml
  roles/common/tasks/iptables.yml
  roles/common/tasks/ubuntu.yml
  roles/common/templates/rules.v4.j2
  roles/common/templates/rules.v6.j2
  roles/dns/handlers/main.yml
  roles/dns/tasks/main.yml
  roles/dns/templates/dnscrypt-proxy/filters.toml.j2
  roles/dns/templates/dnscrypt-proxy/global.toml.j2
  roles/strongswan/defaults/main.yml
  roles/strongswan/tasks/main.yml
  roles/strongswan/tasks/openssl.yml
  roles/strongswan/templates/ipsec.conf.j2
  roles/wireguard/defaults/main.yml
  roles/wireguard/tasks/main.yml
  roles/wireguard/templates/server.conf.j2
  server.yml
  tests/unit/test_iptables_rules.py
  tests/unit/test_wireguard_key_generation.py
  users.yml
Due: ansible-lint, ansible-syntax

ci: add j2lint for Jinja2 template linting
  .github/workflows/lint.yml
  .github/workflows/smart-tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  roles/wireguard/templates/server.conf.j2
  uv.lock
Due: ansible-lint

fix: resolve all ansible-lint warnings and enforce zero-tolerance policy
  .ansible-lint
  CLAUDE.md
  input.yml
  roles/cloud-azure/tasks/main.yml
  roles/cloud-azure/tasks/prompts.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-digitalocean/tasks/main.yml
  roles/cloud-digitalocean/tasks/prompts.yml
  roles/cloud-ec2/tasks/prompts.yml
  roles/cloud-gce/tasks/main.yml
  roles/cloud-gce/tasks/prompts.yml
  roles/cloud-hetzner/tasks/prompts.yml
  roles/cloud-lightsail/tasks/prompts.yml
  roles/cloud-linode/tasks/prompts.yml
  roles/cloud-scaleway/tasks/main.yml
  roles/cloud-vultr/tasks/main.yml
  roles/cloud-vultr/tasks/prompts.yml
  roles/common/defaults/main.yml
  roles/common/tasks/ubuntu.yml
  roles/dns/tasks/ubuntu.yml
  roles/local/tasks/prompts.yml
  roles/privacy/tasks/main.yml
  roles/ssh_tunneling/tasks/main.yml
  roles/strongswan/tasks/openssl.yml
  roles/strongswan/tasks/ubuntu.yml
  roles/wireguard/defaults/main.yml
  roles/wireguard/tasks/main.yml
  server.yml
  users.yml
Due: ansible-lint, ansible-syntax

ci: add semgrep SAST scanning to CI and pre-commit
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: ansible-lint

ci: pin semgrep container image to digest for zizmor
  .github/workflows/security.yml
Due: none

Path conditions:
  ansible-lint: any of: \.(yml|yaml)$ and \.(yaml|yml)$ and not (^(.git/|.github/|requirements\.yml)) and not ((?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$
)
  ansible-syntax: any of: main\.yml|server\.yml|users\.yml, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

