Repository trailofbits/algo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, ansible-syntax

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
---
# Apply to all files without committing:
#   pre-commit run --all-files
# Update this file:
#   pre-commit autoupdate

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: '(files/cloud-init/base\.yml|roles/cloud-.*/files/stack\.yaml)'
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python linting with ruff (fast, replaces many tools)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        exclude: '.git/.*'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        exclude: '.git/.*'

  # Local hooks that use the project's installed tools
  - repo: local
    hooks:
      - id: ansible-lint
        name: Ansible-lint
        entry: bash -c 'uv run ansible-lint --force-color || echo "Ansible-lint had issues - check output"'
        language: system
        types: [yaml]
        files: \.(yml|yaml)$
        exclude: '^(.git/|.github/|requirements\.yml)'
        pass_filenames: false

      - id: ansible-syntax
        name: Ansible syntax check
        entry: bash -c 'uv run ansible-playbook main.yml --syntax-check'
        language: system
        files: 'main\.yml|server\.yml|users\.yml'
        pass_filenames: false

# Configuration for the pre-commit tool itself
default_language_version:
  python: python3.11

# Files to exclude globally
exclude: |
  (?x)^(
    .env/.*|
    .venv/.*|
    .git/.*|
    __pycache__/.*|
    .*\.egg-info/.*
  )$

Add Claude Code GitHub Actions (v1.0) (#14873)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Update Hetzner server type from deprecated cpx11 to cpx22
  config.cfg
Due: none

Update Hetzner server type from deprecated cpx11 to cpx22 (#14874)
  config.cfg
Due: none

Fix Vultr startup script JSON serialization issues (#14853)
  files/cloud-init/base.yml
  roles/cloud-vultr/tasks/main.yml
Due: ansible-lint, ansible-syntax

Add missing ansible.utils collection to requirements.yml
  requirements.yml
Due: none

Add missing ansible.utils collection to requirements.yml (#14880)
  requirements.yml
Due: none

Add pre-flight SSH connectivity check before update-users
  users.yml
Due: ansible-lint, ansible-syntax

Remove unused pyopenssl and boto dependencies
  pyproject.toml
  uv.lock
Due: none

Add pre-flight SSH connectivity check before update-users (#14881)
  users.yml
Due: ansible-lint, ansible-syntax

Remove unused pyopenssl and boto dependencies (#14882)
  pyproject.toml
  uv.lock
Due: none

Fix DNS IP changing after running update-users
  server.yml
Due: ansible-lint, ansible-syntax

Skip apt upgrade and reboot during update-users
  roles/common/tasks/main.yml
Due: ansible-lint, ansible-syntax

Add keys_clean_all support to WireGuard (parity with IPsec)
  config.cfg
  roles/wireguard/tasks/keys.yml
Due: ansible-lint

Add permission check for local deployment update-users
  users.yml
Due: ansible-lint, ansible-syntax

Address review feedback: explicit directory modes and clearer docs
  config.cfg
  roles/wireguard/tasks/main.yml
Due: ansible-lint, ansible-syntax

Address review: fail on permission mismatch, clean up directory creation
  roles/wireguard/tasks/main.yml
  users.yml
Due: ansible-lint, ansible-syntax

Address review: add empty users validation and improve docs
  config.cfg
  users.yml
Due: ansible-lint, ansible-syntax

Fix jinja2 spacing lint warning
  users.yml
Due: ansible-lint, ansible-syntax

Fix update-users: DNS IP, reboots, key regeneration, and local permissions (#14883)
  config.cfg
  roles/common/tasks/main.yml
  roles/wireguard/tasks/keys.yml
  roles/wireguard/tasks/main.yml
  server.yml
  users.yml
Due: ansible-lint, ansible-syntax

Remove unused FreeBSD/BSD support code
  roles/common/handlers/main.yml
  roles/common/tasks/bsd_ipv6_facts.yml
  roles/privacy/README.md
  tests/integration/mock_modules/shell.py
Due: ansible-lint, ansible-syntax

Remove unused FreeBSD/BSD support code (#14884)
  roles/common/handlers/main.yml
  roles/common/tasks/bsd_ipv6_facts.yml
  roles/privacy/README.md
  tests/integration/mock_modules/shell.py
Due: ansible-lint, ansible-syntax

Fix ansible-lint failures and improve linting configuration
  .ansible-lint
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  roles/cloud-gce/tasks/prompts.yml
  roles/cloud-lightsail/tasks/prompts.yml
  roles/common/handlers/main.yml
  roles/common/tasks/ubuntu.yml
  roles/privacy/tasks/auto_cleanup.yml
  roles/privacy/tasks/clear_history.yml
  roles/strongswan/handlers/main.yml
Due: ansible-lint, ansible-syntax

Workaround sticky comment bug in claude-code-action
  .github/workflows/claude-code-review.yml
Due: none

Fix ansible-lint failures and code review sticky comments (#14885)
  .ansible-lint
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  roles/cloud-gce/tasks/prompts.yml
  roles/cloud-lightsail/tasks/prompts.yml
  roles/common/handlers/main.yml
  roles/common/tasks/ubuntu.yml
  roles/privacy/tasks/auto_cleanup.yml
  roles/privacy/tasks/clear_history.yml
  roles/strongswan/handlers/main.yml
Due: ansible-lint, ansible-syntax

Skip wait_for_connection for local deployments
  playbooks/cloud-post.yml
Due: ansible-lint

Skip wait_for_connection for local deployments (#14886)
  playbooks/cloud-post.yml
Due: ansible-lint

Simplify codebase: modernize loops, split templates, improve CI
  .github/actions/setup-algo/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/smart-tests.yml
  roles/client/tasks/main.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-openstack/tasks/main.yml
  roles/cloud-vultr/tasks/main.yml
  roles/common/tasks/facts.yml
  roles/common/tasks/iptables.yml
  roles/common/tasks/main.yml
  roles/common/tasks/ubuntu.yml
  roles/dns/handlers/main.yml
  roles/dns/tasks/main.yml
  roles/dns/templates/dnscrypt-proxy.toml.j2
  roles/dns/templates/dnscrypt-proxy/cache.toml.j2
  roles/dns/templates/dnscrypt-proxy/filters.toml.j2
  roles/dns/templates/dnscrypt-proxy/global.toml.j2
  roles/dns/templates/dnscrypt-proxy/sources.toml.j2
  roles/ssh_tunneling/tasks/main.yml
  roles/strongswan/tasks/client_configs.yml
  roles/strongswan/tasks/distribute_keys.yml
  roles/strongswan/tasks/ipsec_configuration.yml
  roles/strongswan/tasks/main.yml
  roles/strongswan/tasks/openssl.yml
  roles/strongswan/tasks/ubuntu.yml
  roles/wireguard/tasks/keys.yml
  roles/wireguard/tasks/main.yml
  server.yml
  tests/test-wireguard-async.yml
  tests/test-wireguard-fix.yml
  tests/test-wireguard-real-async.yml
  tests/unit/test_template_rendering.py
Due: ansible-lint, ansible-syntax

Fix with_items to loop conversion: preserve list flattening
  roles/common/tasks/main.yml
  roles/strongswan/tasks/client_configs.yml
  roles/strongswan/tasks/openssl.yml
  tests/test-wireguard-fix.yml
  tests/test-wireguard-real-async.yml
Due: ansible-lint, ansible-syntax

Fix integration test: use strongswan-starter service name on Ubuntu 20.04+
  .github/workflows/integration-tests.yml
Due: none

Fix IPsec path issues: remove trailing slashes and fix test paths
  .github/workflows/integration-tests.yml
  roles/strongswan/defaults/main.yml
Due: ansible-lint, ansible-syntax

Add FAQ about migrating clients to a new Algo server
  docs/faq.md
Due: none

Add FAQ about migrating clients to a new Algo server (#14890)
  docs/faq.md
Due: none

Simplify codebase: modernize loops, split templates, improve CI (#14889)
  .github/actions/setup-algo/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/smart-tests.yml
  roles/client/tasks/main.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-openstack/tasks/main.yml
  roles/cloud-vultr/tasks/main.yml
  roles/common/tasks/facts.yml
  roles/common/tasks/iptables.yml
  roles/common/tasks/main.yml
  roles/common/tasks/ubuntu.yml
  roles/dns/handlers/main.yml
  roles/dns/tasks/main.yml
  roles/dns/templates/dnscrypt-proxy.toml.j2
  roles/dns/templates/dnscrypt-proxy/cache.toml.j2
  roles/dns/templates/dnscrypt-proxy/filters.toml.j2
  roles/dns/templates/dnscrypt-proxy/global.toml.j2
  roles/dns/templates/dnscrypt-proxy/sources.toml.j2
  roles/ssh_tunneling/tasks/main.yml
  roles/strongswan/defaults/main.yml
  roles/strongswan/tasks/client_configs.yml
  roles/strongswan/tasks/distribute_keys.yml
  roles/strongswan/tasks/ipsec_configuration.yml
  roles/strongswan/tasks/main.yml
  roles/strongswan/tasks/openssl.yml
  roles/strongswan/tasks/ubuntu.yml
  roles/wireguard/tasks/keys.yml
  roles/wireguard/tasks/main.yml
  server.yml
  tests/test-wireguard-async.yml
  tests/test-wireguard-fix.yml
  tests/test-wireguard-real-async.yml
  tests/unit/test_template_rendering.py
Due: ansible-lint, ansible-syntax

Simplify codebase: remove dead venv files, consolidate loops, modernize patterns
  roles/cloud-azure/tasks/main.yml
  roles/cloud-azure/tasks/venv.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-cloudstack/tasks/venv.yml
  roles/cloud-ec2/tasks/main.yml
  roles/cloud-ec2/tasks/venv.yml
  roles/cloud-gce/tasks/main.yml
  roles/cloud-gce/tasks/venv.yml
  roles/cloud-hetzner/tasks/main.yml
  roles/cloud-hetzner/tasks/venv.yml
  roles/cloud-lightsail/tasks/main.yml
  roles/cloud-lightsail/tasks/venv.yml
  roles/cloud-linode/tasks/main.yml
  roles/cloud-linode/tasks/venv.yml
  roles/cloud-openstack/tasks/main.yml
  roles/cloud-openstack/tasks/venv.yml
  roles/wireguard/tasks/main.yml
  roles/wireguard/tasks/mobileconfig.yml
  server.yml
Due: ansible-lint, ansible-syntax

Fix template variable and undefined job variable bugs
  roles/wireguard/templates/client.conf.j2
  server.yml
  tests/unit/test_template_rendering.py
Due: ansible-lint, ansible-syntax

Simplify codebase: modernize loops, split templates, improve CI (#14891)
  roles/cloud-azure/tasks/main.yml
  roles/cloud-azure/tasks/venv.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-cloudstack/tasks/venv.yml
  roles/cloud-ec2/tasks/main.yml
  roles/cloud-ec2/tasks/venv.yml
  roles/cloud-gce/tasks/main.yml
  roles/cloud-gce/tasks/venv.yml
  roles/cloud-hetzner/tasks/main.yml
  roles/cloud-hetzner/tasks/venv.yml
  roles/cloud-lightsail/tasks/main.yml
  roles/cloud-lightsail/tasks/venv.yml
  roles/cloud-linode/tasks/main.yml
  roles/cloud-linode/tasks/venv.yml
  roles/cloud-openstack/tasks/main.yml
  roles/cloud-openstack/tasks/venv.yml
  roles/wireguard/tasks/main.yml
  roles/wireguard/tasks/mobileconfig.yml
  roles/wireguard/templates/client.conf.j2
  server.yml
  tests/unit/test_template_rendering.py
Due: ansible-lint, ansible-syntax

Add diagnostic commands section to troubleshooting guide
  docs/troubleshooting.md
Due: none

Add diagnostic commands section to troubleshooting guide (#14895)
  docs/troubleshooting.md
Due: none

Remove obsolete troubleshooting entries
  docs/troubleshooting.md
Due: none

Reorganize Installation Problems section by category
  docs/troubleshooting.md
Due: none
