Repository trailofbits/algo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, j2lint, ansible-lint, ansible-syntax, actionlint

ty-check:
  name: Python type check
  entry: bash -c 'uv run --with ty ty check'
  language: system
  pass_filenames: false

j2lint:
  name: Jinja2 template lint
  entry: bash -c 'uv run j2lint roles/ --ignore S3 S5 S6 S7 V1'
  language: system
  pass_filenames: false

ansible-lint:
  name: Ansible-lint
  entry: bash -c 'uv run ansible-lint --force-color || echo "Ansible-lint had issues - check output"'
  language: system
  pass_filenames: false

ansible-syntax:
  name: Ansible syntax check
  entry: bash -c 'uv run ansible-playbook main.yml --syntax-check'
  language: system
  pass_filenames: false

actionlint:
  name: GitHub Actions lint
  entry: bash -c 'command -v actionlint >/dev/null && actionlint .github/workflows/ || echo "actionlint not installed - skipping"'
  language: system
  pass_filenames: false

fix: render parser-safe isolated charon config
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

fix: isolate trusted swanctl client execution
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

fix: load and stop isolated swanctl client
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

test: sanitize isolated client failure diagnostics
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

security: censor generated test credentials
  server.yml
  tests/unit/test_secret_artifact_policy.py
Due: ty-check, ansible-lint, ansible-syntax

security: generate StrongSwan-compatible strict CRLs
  library/x509_crl_aki.py
  roles/strongswan/handlers/main.yml
  roles/strongswan/tasks/openssl.yml
  tests/integration/test-strongswan-swanctl.sh
  tests/unit/test_strongswan_backend_contract.py
  tests/unit/test_strongswan_backend_selection.py
  tests/unit/test_x509_crl_aki.py
Due: ty-check, ansible-lint, ansible-syntax

test: bind IPsec probes to virtual address
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

test: force IPv4 through IPv4 IPsec tunnel
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

test: pin isolated IPsec HTTPS endpoint
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

fix: retain StrongSwan 5.9 CA compatibility
  roles/strongswan/tasks/openssl.yml
  tests/unit/test_strongswan_backend_contract.py
Due: ty-check, ansible-lint

security: fail closed in one-shot installer
  install.sh
  server.yml
  tests/unit/test_install_script.py
  tests/unit/test_secret_artifact_policy.py
Due: ty-check, ansible-lint, ansible-syntax

security: recover partial provider canaries
  .github/workflows/provider-firewall-canary.yml
  tests/unit/test_cloud_firewall_canary_policy.py
Due: ty-check, actionlint

ci: enforce backend and scanner policy
  .github/workflows/integration-tests.yml
  .github/workflows/security.yml
  Dockerfile
  docs/threat-model.md
  tests/unit/test_security_documentation_policy.py
  tests/unit/test_strongswan_backend_selection.py
Due: ty-check, actionlint

docs: align Ubuntu support and EC2 selectors
  docs/deploy-from-ansible.md
  docs/deploy-to-unsupported-cloud.md
  docs/troubleshooting.md
  tests/unit/test_release_documentation_policy.py
Due: ty-check

test: reset transient swanctl service failures
  tests/integration/test-strongswan-swanctl.sh
  tests/unit/test_strongswan_backend_selection.py
Due: ty-check

security: guarantee provider canary cleanup
  .github/workflows/provider-firewall-canary.yml
  tests/unit/test_cloud_firewall_canary_policy.py
Due: ty-check, actionlint

security: install QR outputs without replacement
  roles/wireguard/tasks/qr.yml
  tests/integration/test_qr_generation.yml
  tests/unit/test_qr_task.py
Due: ty-check, ansible-lint

security: bind QR lock release to owner
  roles/wireguard/tasks/qr.yml
  tests/unit/test_qr_task.py
Due: ty-check, ansible-lint

security: detect embedded private key artifacts
  tests/unit/test_secret_artifact_policy.py
Due: ty-check

security: keep canary cleanup identity stable
  .github/workflows/provider-firewall-canary.yml
  tests/unit/test_cloud_firewall_canary_policy.py
Due: ty-check, actionlint

docs: remove excluded Azure onboarding
  docs/troubleshooting.md
  tests/unit/test_release_documentation_policy.py
  tests/unit/test_strongswan_backend_selection.py
Due: ty-check

security: validate canonical StrongSwan CRLs
  library/x509_crl_aki.py
  tests/unit/test_x509_crl_aki.py
Due: ty-check

security: isolate privileged VPN acceptance state
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

security: reject multiline QR usernames
  roles/wireguard/tasks/qr.yml
  tests/unit/test_qr_task.py
Due: ty-check, ansible-lint

security: fail closed during firewall cleanup
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

docs: align excluded provider and backend diagnostics
  docs/cloud-azure.md
  docs/index.md
  docs/troubleshooting.md
  tests/unit/test_release_documentation_policy.py
Due: ty-check

docs: enforce Azure exclusion boundary
  docs/deploy-from-script-or-cloud-init-to-localhost.md
  tests/unit/test_release_documentation_policy.py
Due: ty-check

test: bind diagnostics to StrongSwan backends
  tests/unit/test_release_documentation_policy.py
Due: ty-check

fix(scaleway): migrate to Marketplace API v2 and support all instance zones
  docs/deploy-from-ansible.md
  library/scaleway_compute.py
  roles/cloud-scaleway/defaults/main.yml
  roles/cloud-scaleway/tasks/destroy.yml
  roles/cloud-scaleway/tasks/main.yml
  tests/unit/test_scaleway_fix.py
Due: ty-check, ansible-lint, ansible-syntax

Block the IPv6 rebinding targets the DNS blacklist already blocks over IPv4
  roles/dns/templates/ip-blacklist.txt.j2
  tests/unit/test_template_rendering.py
Due: ty-check, j2lint

feat: add Oracle Cloud Infrastructure provider
  README.md
  config.cfg
  destroy.yml
  docs/cloud-oracle.md
  docs/deploy-from-ansible.md
  docs/index.md
  files/cloud-init/base.yml
  input.yml
  playbooks/cloud-post.yml
  playbooks/cloud-pre.yml
  requirements.yml
  roles/cloud-oracle/tasks/destroy.yml
  roles/cloud-oracle/tasks/main.yml
  roles/cloud-oracle/tasks/prompts.yml
  roles/common/tasks/iptables.yml
  roles/common/tasks/ubuntu.yml
  roles/common/templates/rules.v4.j2
  server.yml
  tests/unit/test_cloud_provider_configs.py
  tests/unit/test_destroy.py
  tests/unit/test_oracle_cloud_init.py
  tests/unit/test_oracle_firewall.py
  tests/unit/test_oracle_provider.py
Due: ty-check, j2lint, ansible-lint, ansible-syntax

Path conditions:
  ty-check: any of: \.py$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  j2lint: any of: \.j2$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  ansible-lint: any of: \.(yml|yaml)$ and \.(yaml|yml)$ and not (^(.git/|.github/|requirements\.yml)) and not ((?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$
)
  ansible-syntax: any of: main\.yml|server\.yml|users\.yml, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  actionlint: any of: ^\.github/workflows/.*\.yml$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

