Repository trailofbits/algo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, ansible-syntax

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
---
# Apply to all files without committing:
#   pre-commit run --all-files
# Update this file:
#   pre-commit autoupdate

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: '(files/cloud-init/base\.yml|roles/cloud-.*/files/stack\.yaml)'
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python linting with ruff (fast, replaces many tools)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        exclude: '.git/.*'

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        exclude: '.git/.*'

  # Local hooks that use the project's installed tools
  - repo: local
    hooks:
      - id: ansible-lint
        name: Ansible-lint
        entry: bash -c 'uv run ansible-lint --force-color || echo "Ansible-lint had issues - check output"'
        language: system
        types: [yaml]
        files: \.(yml|yaml)$
        exclude: '^(.git/|.github/|requirements\.yml)'
        pass_filenames: false

      - id: ansible-syntax
        name: Ansible syntax check
        entry: bash -c 'uv run ansible-playbook main.yml --syntax-check'
        language: system
        files: 'main\.yml|server\.yml|users\.yml'
        pass_filenames: false

# Configuration for the pre-commit tool itself
default_language_version:
  python: python3.11

# Files to exclude globally
exclude: |
  (?x)^(
    .env/.*|
    .venv/.*|
    .git/.*|
    __pycache__/.*|
    .*\.egg-info/.*
  )$

Remove obsolete troubleshooting entries (#14896)
  docs/troubleshooting.md
Due: none

Add explicit confirmation for local installation
  docs/deploy-to-ubuntu.md
  roles/local/tasks/prompts.yml
Due: ansible-lint

Add explicit confirmation for local installation (#14897)
  docs/deploy-to-ubuntu.md
  roles/local/tasks/prompts.yml
Due: ansible-lint

Only open VPN ports in cloud security groups when enabled
  roles/cloud-azure/files/deployment.json.j2
  roles/cloud-azure/tasks/main.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-ec2/files/stack.yaml
  roles/cloud-ec2/tasks/cloudformation.yml
  roles/cloud-gce/tasks/main.yml
  roles/cloud-lightsail/files/stack.yaml.j2
  roles/cloud-lightsail/tasks/cloudformation.yml
  roles/cloud-openstack/tasks/main.yml
  roles/cloud-vultr/tasks/main.yml
Due: ansible-lint, ansible-syntax

Fix Docker --cap-drop=all and add multi-arch support
  .github/workflows/docker-image.yaml
  Dockerfile
Due: none

Update Docker actions to latest versions
  .github/workflows/docker-image.yaml
Due: none

Fix Docker --cap-drop=all and add multi-arch support (#14900)
  .github/workflows/docker-image.yaml
  Dockerfile
Due: none

Refactor CLAUDE.md: add quality gates, reduce redundancy
  CLAUDE.md
Due: none

Add Jinja2 native mode guidance (Ansible 12 compatibility)
  CLAUDE.md
Due: none

Fix Ansible version and add OpenSSL explanation
  CLAUDE.md
Due: none

Soften language and add troubleshooting cross-reference
  CLAUDE.md
Due: none

Clarify 'verify before encoding' philosophy statement
  CLAUDE.md
Due: none

Refactor CLAUDE.md: add quality gates, reduce redundancy (#14901)
  CLAUDE.md
Due: none

Phase 1: Quick wins for code quality and test infrastructure
  main.yml
  playbooks/tmpfs/umount.yml
  pytest.ini
  roles/common/tasks/ubuntu.yml
  tests/conftest.py
  tests/test-wireguard-real-async.yml
  users.yml
Due: ansible-lint, ansible-syntax

Phase 1: Quick wins for code quality and test infrastructure (#14907)
  main.yml
  playbooks/tmpfs/umount.yml
  pytest.ini
  roles/common/tasks/ubuntu.yml
  tests/conftest.py
  tests/test-wireguard-real-async.yml
  users.yml
Due: ansible-lint, ansible-syntax

Migrate Linode and DigitalOcean modules to Ansible collections
  .ansible-lint
  library/digital_ocean_floating_ip.py
  library/linode_stackscript_v4.py
  library/linode_v4.py
  requirements.yml
  roles/cloud-digitalocean/tasks/main.yml
  roles/cloud-linode/tasks/main.yml
Due: ansible-lint, ansible-syntax

Migrate Linode and DigitalOcean modules to Ansible collections (#14908)
  .ansible-lint
  library/digital_ocean_floating_ip.py
  library/linode_stackscript_v4.py
  library/linode_v4.py
  requirements.yml
  roles/cloud-digitalocean/tasks/main.yml
  roles/cloud-linode/tasks/main.yml
Due: ansible-lint, ansible-syntax

Migrate Azure module to azure.azcollection
  requirements.yml
  roles/cloud-azure/tasks/main.yml
Due: ansible-lint, ansible-syntax

Fix trailing comma in Azure deployment template
  roles/cloud-azure/files/deployment.json
Due: none

Migrate Azure module to azure.azcollection (#14909)
  requirements.yml
  roles/cloud-azure/files/deployment.json
  roles/cloud-azure/tasks/main.yml
Due: ansible-lint, ansible-syntax

Add AF_UNIX to SystemD RestrictAddressFamilies for future VICI support
  roles/strongswan/templates/100-CustomLimitations.conf.j2
Due: none

Add AF_UNIX to SystemD RestrictAddressFamilies for future VICI support (#14910)
  roles/strongswan/templates/100-CustomLimitations.conf.j2
Due: none

Reduce friction for bug reporting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  config.cfg
  docs/troubleshooting.md
Due: none

Reduce friction for bug reporting (#14911)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  config.cfg
  docs/troubleshooting.md
Due: none

Add end-to-end VPN connectivity tests using network namespaces
  .ansible-lint
  .github/workflows/integration-tests.yml
  tests/README.md
  tests/e2e/README.md
  tests/e2e/test-vpn-connectivity.sh
  tests/legacy-lxd/ca-password-fix.sh
  tests/legacy-lxd/cloud-init.sh
  tests/legacy-lxd/ipsec-client.sh
  tests/legacy-lxd/local-deploy.sh
  tests/legacy-lxd/pre-deploy.sh
  tests/legacy-lxd/ssh-tunnel.sh
  tests/legacy-lxd/update-users.sh
  tests/legacy-lxd/wireguard-client.sh
Due: none

Fix WireGuard handshake timeout by allowing VPN traffic on veth
  tests/e2e/test-vpn-connectivity.sh
Due: none

Use -I instead of -A for iptables rules; add debug output
  tests/e2e/test-vpn-connectivity.sh
Due: none

Work around deployment bug where WireGuard handlers don't fire
  tests/e2e/test-vpn-connectivity.sh
Due: none

Add packet capture and rp_filter diagnostics to debug WireGuard handshake
  tests/e2e/test-vpn-connectivity.sh
Due: none

Add PersistentKeepalive to trigger WireGuard handshake
  tests/e2e/test-vpn-connectivity.sh
Due: none

Clean up verbose debug output from WireGuard tests
  tests/e2e/test-vpn-connectivity.sh
Due: none

Document configuration assumptions in E2E test README
  tests/e2e/README.md
Due: none

Remove unused pip cache from integration tests workflow
  .github/workflows/integration-tests.yml
Due: none

Add end-to-end VPN connectivity tests using network namespaces (#14914)
  .ansible-lint
  .github/workflows/integration-tests.yml
  tests/README.md
  tests/e2e/README.md
  tests/e2e/test-vpn-connectivity.sh
  tests/legacy-lxd/ca-password-fix.sh
  tests/legacy-lxd/cloud-init.sh
  tests/legacy-lxd/ipsec-client.sh
  tests/legacy-lxd/local-deploy.sh
  tests/legacy-lxd/pre-deploy.sh
  tests/legacy-lxd/ssh-tunnel.sh
  tests/legacy-lxd/update-users.sh
  tests/legacy-lxd/wireguard-client.sh
Due: none

Add web UI for VPN deployment
  algo-web
  app/__init__.py
  app/main.py
  app/providers.py
  app/runner.py
  app/sessions.py
  app/static/algo-logo.png
  app/static/htmx-sse.js
  app/static/htmx.min.js
  app/static/style.css
  app/static/trail-of-bits.png
  app/templates/base.html
  app/templates/deploy.html
  app/templates/index.html
  app/templates/partials/provider_form.html
  app/templates/partials/regions.html
  app/templates/partials/validation_error.html
  app/templates/success.html
  pyproject.toml
  uv.lock
Due: none

Use system fonts for offline support
  app/static/style.css
  app/templates/base.html
Due: none

Auto-install Ansible Galaxy collections before deployment
  Dockerfile
  algo
Due: none

Auto-install Ansible Galaxy collections before deployment (#14924)
  Dockerfile
  algo
Due: none

Add cooldown and grouping to Dependabot config
  .github/dependabot.yml
Due: none

Add cooldown and grouping to Dependabot config (#14931)
  .github/dependabot.yml
Due: none
