Repository trailofbits/algo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, j2lint, ansible-lint, ansible-syntax, actionlint

ty-check:
  name: Python type check
  entry: bash -c 'uv run --with ty ty check'
  language: system
  pass_filenames: false

j2lint:
  name: Jinja2 template lint
  entry: bash -c 'uv run j2lint roles/ --ignore S3 S5 S6 S7 V1'
  language: system
  pass_filenames: false

ansible-lint:
  name: Ansible-lint
  entry: bash -c 'uv run ansible-lint --force-color || echo "Ansible-lint had issues - check output"'
  language: system
  pass_filenames: false

ansible-syntax:
  name: Ansible syntax check
  entry: bash -c 'uv run ansible-playbook main.yml --syntax-check'
  language: system
  pass_filenames: false

actionlint:
  name: GitHub Actions lint
  entry: bash -c 'command -v actionlint >/dev/null && actionlint .github/workflows/ || echo "actionlint not installed - skipping"'
  language: system
  pass_filenames: false

ci: add zizmor pre-commit hook for Actions security audit
  .pre-commit-config.yaml
Due: ansible-lint

ci: add semgrep SAST scanning to CI and pre-commit (#14964)
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: ansible-lint, actionlint

feat: add destroy subcommand to tear down deployed servers
  algo
  destroy.yml
  library/scaleway_compute.py
  roles/cloud-azure/tasks/destroy.yml
  roles/cloud-cloudstack/tasks/destroy.yml
  roles/cloud-digitalocean/tasks/destroy.yml
  roles/cloud-ec2/tasks/destroy.yml
  roles/cloud-gce/tasks/destroy.yml
  roles/cloud-hetzner/tasks/destroy.yml
  roles/cloud-lightsail/tasks/destroy.yml
  roles/cloud-linode/tasks/destroy.yml
  roles/cloud-openstack/tasks/destroy.yml
  roles/cloud-scaleway/tasks/destroy.yml
  roles/cloud-vultr/tasks/destroy.yml
  roles/cloud-vultr/tasks/prompts.yml
  server.yml
  tests/unit/test_destroy.py
Due: ty-check, ansible-lint, ansible-syntax

feat: add list-servers script and tests
  scripts/list_servers.py
  tests/unit/test_list_servers.py
Due: ty-check

feat: add destroy subcommand to tear down deployed servers (#14965)
  algo
  destroy.yml
  library/scaleway_compute.py
  roles/cloud-azure/tasks/destroy.yml
  roles/cloud-cloudstack/tasks/destroy.yml
  roles/cloud-digitalocean/tasks/destroy.yml
  roles/cloud-ec2/tasks/destroy.yml
  roles/cloud-gce/tasks/destroy.yml
  roles/cloud-hetzner/tasks/destroy.yml
  roles/cloud-lightsail/tasks/destroy.yml
  roles/cloud-linode/tasks/destroy.yml
  roles/cloud-openstack/tasks/destroy.yml
  roles/cloud-scaleway/tasks/destroy.yml
  roles/cloud-vultr/tasks/destroy.yml
  roles/cloud-vultr/tasks/prompts.yml
  scripts/list_servers.py
  server.yml
  tests/unit/test_destroy.py
  tests/unit/test_list_servers.py
Due: ty-check, ansible-lint, ansible-syntax

fix: detect missing SECP384R1 early and fix community.crypto compatibility
  .github/workflows/integration-tests.yml
  deploy_client.yml
  main.yml
  playbooks/cloud-post.yml
  pyproject.toml
  requirements.yml
  users.yml
  uv.lock
Due: ansible-lint, ansible-syntax, actionlint

fix: detect missing SECP384R1 early and fix community.crypto compatibility (#14970)
  .github/workflows/integration-tests.yml
  deploy_client.yml
  main.yml
  playbooks/cloud-post.yml
  pyproject.toml
  requirements.yml
  users.yml
  uv.lock
Due: ansible-lint, ansible-syntax, actionlint

chore: pin all GitHub Actions to commit SHAs
  .github/workflows/main.yml
Due: ansible-syntax, actionlint

add vultr.cloud dependency to requirements
  requirements.yml
Due: none

Pin vultr.cloud version
  requirements.yml
Due: none

Add vultr.cloud dependency to fix Vultr deploys (#14999)
  requirements.yml
Due: none

Declare missing cloud collections in requirements.yml
  requirements.yml
Due: none

Declare missing cloud collections in requirements.yml (#15000)
  requirements.yml
Due: none

Fix wrong key in X-Ray configs
  .gitignore
  configs/.gitinit
  roles/xray/tasks/keys.yml
Due: ansible-lint

chore: add grouped updates to dependabot docker ecosystem
  .github/dependabot.yml
Due: none

Correct actions/checkout version comment to v6.0.3
  .github/workflows/docker-image.yaml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/security.yml
  .github/workflows/smart-tests.yml
  .github/workflows/test-effectiveness.yml
Due: ansible-syntax, actionlint

chore: add grouped updates to dependabot docker ecosystem (#15012)
  .github/dependabot.yml
Due: none

fix: resolve QR code generation silently failing after uv migration
  roles/wireguard/tasks/main.yml
Due: ansible-lint, ansible-syntax

fix(scaleway): migrate to Marketplace API v2 after api-marketplace.scaleway.com removal
  config.cfg
  roles/cloud-scaleway/defaults/main.yml
  roles/cloud-scaleway/tasks/main.yml
  roles/cloud-scaleway/tasks/prompts.yml
  tests/unit/test_scaleway_fix.py
Due: ty-check, ansible-lint, ansible-syntax

fix(scaleway): use organization parameter, remove check_image_id, fix until for Ansible 12+
  library/scaleway_compute.py
  roles/cloud-scaleway/tasks/main.yml
  tests/unit/test_scaleway_fix.py
Due: ty-check, ansible-lint, ansible-syntax

test: capture broken release branch paths
  tests/unit/test_release_paths.py
Due: ty-check

fix: repair main-branch installer path
  docs/deploy-from-script-or-cloud-init-to-localhost.md
  install.sh
  tests/unit/test_install_script.py
Due: ty-check

ci: publish container images from main
  .github/workflows/docker-image.yaml
  .github/workflows/lint.yml
  tests/unit/test_release_paths.py
Due: ty-check, actionlint

security: pin bootstrap and container inputs
  .github/actions/setup-uv/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  Dockerfile
  algo
  install.sh
  tests/unit/test_algo_bootstrap.py
  tests/unit/test_install_script.py
  tests/unit/test_release_paths.py
Due: ty-check, actionlint

test: enforce supported dependency policy
  tests/unit/test_dependency_policy.py
Due: ty-check

chore: migrate controller to maintained Ansible
  ansible.cfg
  pyproject.toml
  pytest.ini
  requirements.yml
  tests/unit/test_basic_sanity.py
  tests/unit/test_dependency_policy.py
  tests/unit/test_docker_localhost_deployment.py
  tests/unit/test_double_templating.py
  tests/unit/test_openssl_compatibility.py
  tests/unit/test_strongswan_templates.py
  tests/unit/test_template_rendering.py
  tests/unit/test_wireguard_key_generation.py
  tests/unit/test_yaml_jinja2_expressions.py
  uv.lock
Due: ty-check

security: pin project-local Ansible collections
  .dockerignore
  .gitignore
  Dockerfile
  algo
  ansible.cfg
  tests/unit/test_algo_bootstrap.py
  tests/unit/test_dependency_policy.py
Due: ty-check

security: audit retained dependency scopes
  .github/workflows/security.yml
  scripts/audit-dependencies.sh
  scripts/check-collection-updates.py
  tests/unit/test_collection_updates.py
  tests/unit/test_dependency_policy.py
Due: ty-check, actionlint

test: capture service orchestration invariants
  tests/unit/test_service_orchestration.py
Due: ty-check

fix: preserve service handlers during deployment
  config.cfg
  server.yml
  tests/e2e/test-vpn-connectivity.sh
Due: ansible-lint, ansible-syntax

fix: render distinct DNSCrypt stamp tables
  roles/dns/templates/dnscrypt-proxy/sources.toml.j2
  tests/unit/test_dnscrypt_templates.py
Due: ty-check, j2lint

fix: preserve WireGuard directive newlines
  roles/wireguard/templates/client.conf.j2
  tests/unit/test_template_rendering.py
Due: ty-check, j2lint

fix: make StrongSwan hardening start reliably
  roles/strongswan/handlers/main.yml
  roles/strongswan/tasks/distribute_keys.yml
  roles/strongswan/tasks/ipsec_configuration.yml
  roles/strongswan/tasks/ubuntu.yml
  roles/strongswan/templates/100-CustomLimitations.conf.j2
  tests/unit/test_strongswan_templates.py
Due: ty-check, j2lint, ansible-lint, ansible-syntax

test: reproduce StrongSwan systemd hardening
  .github/workflows/strongswan-systemd.yml
  tests/integration/test-strongswan-systemd.sh
Due: actionlint

test: preserve StrongSwan harness signal failures
  tests/integration/test-strongswan-systemd.sh
  tests/unit/test_strongswan_templates.py
Due: ty-check

test: run StrongSwan hardening as transient unit
  tests/integration/test-strongswan-systemd.sh
  tests/unit/test_strongswan_templates.py
Due: ty-check

test: encode cloud firewall protocol matrix
  tests/unit/test_cloud_firewall_protocol_matrix.py
Due: ty-check

fix: align cloud ingress with enabled VPN protocols
  docs/firewalls.md
  input.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-ec2/files/stack.yaml
  roles/cloud-ec2/tasks/cloudformation.yml
  roles/cloud-gce/tasks/main.yml
  roles/cloud-openstack/tasks/main.yml
  roles/cloud-vultr/tasks/main.yml
  roles/common/templates/rules.v4.j2
  roles/common/templates/rules.v6.j2
  tests/unit/test_cloud_firewall_protocol_matrix.py
Due: ty-check, j2lint, ansible-lint, ansible-syntax

feat: add grounded Ubuntu image matrix
  .github/workflows/integration-tests.yml
  README.md
  config.cfg
  docs/deploy-to-ubuntu.md
  input.yml
  roles/cloud-digitalocean/tasks/main.yml
  roles/cloud-ec2/tasks/main.yml
  roles/cloud-gce/tasks/main.yml
  roles/cloud-hetzner/tasks/main.yml
  roles/cloud-linode/tasks/main.yml
  roles/cloud-scaleway/tasks/main.yml
  roles/cloud-vultr/tasks/main.yml
  tests/unit/test_scaleway_fix.py
  tests/unit/test_ubuntu_image_matrix.py
Due: ty-check, ansible-lint, ansible-syntax, actionlint

fix: keep excluded providers outside support matrix
  config.cfg
  docs/deploy-to-ubuntu.md
  input.yml
  tests/unit/test_ubuntu_image_matrix.py
Due: ty-check, ansible-lint

Path conditions:
  ty-check: any of: \.py$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  j2lint: any of: \.j2$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  ansible-lint: any of: \.(yml|yaml)$ and \.(yaml|yml)$ and not (^(.git/|.github/|requirements\.yml)) and not ((?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$
)
  ansible-syntax: any of: main\.yml|server\.yml|users\.yml, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  actionlint: any of: ^\.github/workflows/.*\.yml$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

