Repository trailofbits/algo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, ansible-syntax

ansible-lint:
  name: Ansible-lint
  entry: bash -c 'uv run ansible-lint --force-color || echo "Ansible-lint had issues - check output"'
  language: system
  pass_filenames: false

ansible-syntax:
  name: Ansible syntax check
  entry: bash -c 'uv run ansible-playbook main.yml --syntax-check'
  language: system
  pass_filenames: false

Fix Ansible 12.0.0 boolean type checking issue
  input.yml
  roles/common/tasks/facts.yml
  tests/unit/test_ansible_12_boolean_fix.py
  tests/unit/test_boolean_variables.py
  uv.lock
Due: ansible-lint

Fix Python linting issues in test files
  tests/unit/test_ansible_12_boolean_fix.py
  tests/unit/test_boolean_variables.py
  tests/unit/test_comprehensive_boolean_scan.py
Due: none

Fix Ansible 12.0.0 boolean type checking breaking deployments (#14834)
  input.yml
  roles/common/tasks/facts.yml
  tests/unit/test_ansible_12_boolean_fix.py
  tests/unit/test_boolean_variables.py
  tests/unit/test_comprehensive_boolean_scan.py
  uv.lock
Due: ansible-lint

Fix Ansible 12 double-templating and Jinja2 spacing issues
  files/cloud-init/base.yml
  input.yml
  roles/cloud-azure/tasks/main.yml
  roles/cloud-azure/tasks/prompts.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-cloudstack/tasks/prompts.yml
  roles/cloud-digitalocean/tasks/main.yml
  roles/cloud-digitalocean/tasks/prompts.yml
  roles/cloud-ec2/tasks/prompts.yml
  roles/cloud-gce/tasks/prompts.yml
  roles/cloud-hetzner/tasks/prompts.yml
  roles/cloud-lightsail/tasks/prompts.yml
  roles/cloud-linode/tasks/prompts.yml
  roles/cloud-scaleway/tasks/prompts.yml
  roles/cloud-vultr/tasks/prompts.yml
  roles/local/tasks/prompts.yml
  roles/strongswan/defaults/main.yml
  roles/strongswan/tasks/client_configs.yml
  roles/wireguard/defaults/main.yml
  server.yml
  tests/test_bsd_ipv6.yml
  tests/unit/test_comprehensive_boolean_scan.py
  tests/unit/test_double_templating.py
  users.yml
Due: ansible-lint, ansible-syntax

Fix Python linting issue
  tests/unit/test_comprehensive_boolean_scan.py
Due: none

Fix line length linting issues
  tests/unit/test_comprehensive_boolean_scan.py
Due: none

Fix Ansible 12 double-templating and Jinja2 spacing issues (#14836)
  files/cloud-init/base.yml
  input.yml
  roles/cloud-azure/tasks/main.yml
  roles/cloud-azure/tasks/prompts.yml
  roles/cloud-cloudstack/tasks/main.yml
  roles/cloud-cloudstack/tasks/prompts.yml
  roles/cloud-digitalocean/tasks/main.yml
  roles/cloud-digitalocean/tasks/prompts.yml
  roles/cloud-ec2/tasks/prompts.yml
  roles/cloud-gce/tasks/prompts.yml
  roles/cloud-hetzner/tasks/prompts.yml
  roles/cloud-lightsail/tasks/prompts.yml
  roles/cloud-linode/tasks/prompts.yml
  roles/cloud-scaleway/tasks/prompts.yml
  roles/cloud-vultr/tasks/prompts.yml
  roles/local/tasks/prompts.yml
  roles/strongswan/defaults/main.yml
  roles/strongswan/tasks/client_configs.yml
  roles/wireguard/defaults/main.yml
  server.yml
  tests/test_bsd_ipv6.yml
  tests/unit/test_comprehensive_boolean_scan.py
  tests/unit/test_double_templating.py
  users.yml
Due: ansible-lint, ansible-syntax

Remove redundant DEVELOPMENT.md and update CONTRIBUTING.md
  CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

Fix DigitalOcean API error handling and improve debugging (fixes #14829) (#14830)
  config.cfg
  roles/cloud-digitalocean/tasks/prompts.yml
Due: ansible-lint

Fix SSH configuration indentation in cloud-init template
  files/cloud-init/base.yml
Due: ansible-lint

Fix Ansible 12 compatibility issues (closes #14838)
  files/cloud-init/base.sh
  roles/common/tasks/main.yml
  roles/common/tasks/ubuntu.yml
Due: ansible-lint, ansible-syntax

Fix Ansible 12 compatibility issues (closes #14838) (#14840)
  files/cloud-init/base.sh
  roles/common/tasks/main.yml
  roles/common/tasks/ubuntu.yml
Due: ansible-lint, ansible-syntax

Remove Exoscale support due to CloudStack API deprecation (fixes #14839)
  docs/cloud-amazon-ec2.md
  docs/cloud-cloudstack.md
  docs/deploy-from-ansible.md
  roles/cloud-cloudstack/tasks/prompts.yml
Due: ansible-lint

Remove remaining Exoscale references from input.yml, README, and prompts
  README.md
  input.yml
  roles/cloud-cloudstack/tasks/prompts.yml
Due: ansible-lint

Fix typo: 'API ssecret' -> 'API secret' in CloudStack prompt
  roles/cloud-cloudstack/tasks/prompts.yml
Due: ansible-lint

Remove Exoscale support due to CloudStack API deprecation (#14841)
  README.md
  docs/cloud-amazon-ec2.md
  docs/cloud-cloudstack.md
  docs/deploy-from-ansible.md
  input.yml
  roles/cloud-cloudstack/tasks/prompts.yml
Due: ansible-lint

Fix Scaleway deployment by replacing broken organization_info module (fixes #14846)
  roles/cloud-scaleway/tasks/main.yml
  roles/cloud-scaleway/tasks/prompts.yml
  tests/unit/test_scaleway_fix.py
Due: ansible-lint, ansible-syntax

Fix Vultr regions string conversion bug
  roles/cloud-vultr/tasks/prompts.yml
Due: ansible-lint

Add string filters to template lookups in cloud-init base template
  files/cloud-init/base.yml
Due: ansible-lint

Use two-step fact assignment for Vultr startup script
  roles/cloud-vultr/tasks/main.yml
Due: ansible-lint, ansible-syntax

Fix Vultr startup script JSON serialization error
  roles/cloud-vultr/tasks/main.yml
Due: ansible-lint, ansible-syntax

fix: update-users not working (fixes #14849)
  users.yml
Due: ansible-lint, ansible-syntax

fix: update-users not working (fixes #14849) (#14859)
  users.yml
Due: ansible-lint, ansible-syntax

Suppress CodeQL false positives in Scaleway tests
  tests/unit/test_scaleway_fix.py
Due: none

Revert "Suppress CodeQL false positives in Scaleway tests"
  tests/unit/test_scaleway_fix.py
Due: none

Fix Scaleway deployment by replacing broken organization_info module (fixes #14846) (#14848)
  roles/cloud-scaleway/tasks/main.yml
  roles/cloud-scaleway/tasks/prompts.yml
  tests/unit/test_scaleway_fix.py
Due: ansible-lint, ansible-syntax

Fix GCE deployment error with Ansible 12 JSON parsing
  roles/cloud-gce/tasks/prompts.yml
Due: ansible-lint

Fix GCE deployment error with Ansible 12 JSON parsing (#14860)
  roles/cloud-gce/tasks/prompts.yml
Due: ansible-lint

Fix AWS EC2 and Lightsail deployment failures with Ansible 12
  roles/cloud-ec2/tasks/cloudformation.yml
  roles/cloud-ec2/tasks/prompts.yml
  roles/cloud-lightsail/tasks/cloudformation.yml
Due: ansible-lint

Fix AWS EC2 and Lightsail deployment failures with Ansible 12 (#14861)
  roles/cloud-ec2/tasks/cloudformation.yml
  roles/cloud-ec2/tasks/prompts.yml
  roles/cloud-lightsail/tasks/cloudformation.yml
Due: ansible-lint

Fix integration tests by syncing uv.lock and switching Dependabot to uv
  .github/dependabot.yml
  uv.lock
Due: none

Fix integration tests by syncing uv.lock and switching Dependabot to uv (#14862)
  .github/dependabot.yml
  uv.lock
Due: none

Fix Vultr regions string conversion bug (#14852)
  roles/cloud-vultr/tasks/prompts.yml
Due: ansible-lint

Remove outdated Claude Code GitHub Actions workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Remove outdated Claude Code GitHub Actions workflows (#14872)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Algo-specific allowed tools to Claude Code workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Enable sticky comments for PR reviews
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  ansible-lint: any of: \.(yml|yaml)$ and \.(yaml|yml)$ and not (^(.git/|.github/|requirements\.yml)) and not ((?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$
)
  ansible-syntax: any of: main\.yml|server\.yml|users\.yml, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

