Repository trailofbits/algo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, j2lint, ansible-lint, ansible-syntax, actionlint

ty-check:
  name: Python type check
  entry: bash -c 'uv run --with ty ty check'
  language: system
  pass_filenames: false

j2lint:
  name: Jinja2 template lint
  entry: bash -c 'uv run j2lint roles/ --ignore S3 S5 S6 S7 V1'
  language: system
  pass_filenames: false

ansible-lint:
  name: Ansible-lint
  entry: bash -c 'uv run ansible-lint --force-color || echo "Ansible-lint had issues - check output"'
  language: system
  pass_filenames: false

ansible-syntax:
  name: Ansible syntax check
  entry: bash -c 'uv run ansible-playbook main.yml --syntax-check'
  language: system
  pass_filenames: false

actionlint:
  name: GitHub Actions lint
  entry: bash -c 'command -v actionlint >/dev/null && actionlint .github/workflows/ || echo "actionlint not installed - skipping"'
  language: system
  pass_filenames: false

ci: validate supported Ubuntu releases
  .github/workflows/main.yml
  tests/unit/test_ubuntu_image_matrix.py
Due: ty-check, ansible-syntax, actionlint

fix: enforce supported Ubuntu server releases
  docs/deploy-to-ubuntu.md
  input.yml
  roles/common/tasks/main.yml
  roles/common/tasks/ubuntu.yml
  tests/unit/test_supported_platforms.py
Due: ty-check, ansible-lint, ansible-syntax

fix: stage Ubuntu cloud selectors behind canaries
  README.md
  config.cfg
  roles/cloud-ec2/tasks/main.yml
  tests/unit/test_ubuntu_image_matrix.py
Due: ty-check, ansible-lint, ansible-syntax

test: make pytest fail closed across full suite
  pyproject.toml
  tests/test_cloud_init_template.py
  tests/unit/test_pytest_policy.py
  tests/unit/test_strongswan_templates.py
Due: ty-check

ci: make validation workflows fail closed
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/smart-tests.yml
  scripts/lint.sh
  tests/unit/test_ci_fail_closed.py
Due: ty-check, ansible-syntax, actionlint

test: resolve Ansible from controller environment
  tests/unit/test_basic_sanity.py
  tests/unit/test_destroy.py
  tests/unit/test_docker_localhost_deployment.py
Due: ty-check

docs: reconcile release support and validate links
  .github/actions/setup-algo/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/smart-tests.yml
  .github/workflows/test-effectiveness.yml
  README.md
  docs/cloud-amazon-ec2.md
  docs/cloud-do.md
  docs/deploy-from-macos.md
  docs/faq.md
  docs/index.md
  docs/troubleshooting.md
  main.yml
  pyproject.toml
  scripts/check-internal-links.py
  tests/README.md
  tests/e2e/README.md
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_release_documentation_policy.py
Due: ty-check, ansible-lint, ansible-syntax, actionlint

ci: close remaining validation and artifact gaps
  .github/workflows/integration-tests.yml
  .pre-commit-config.yaml
  tests/unit/test_ci_fail_closed.py
  tests/unit/test_secret_artifact_policy.py
Due: ty-check, ansible-lint, actionlint

ci: reject incomplete required checks
  .github/workflows/smart-tests.yml
  tests/unit/test_ci_fail_closed.py
Due: ty-check, actionlint

docs: exclude unverified providers and stale branches
  README.md
  docs/cloud-amazon-ec2.md
  docs/deploy-from-docker.md
  docs/deploy-to-unsupported-cloud.md
  tests/unit/test_release_documentation_policy.py
Due: ty-check

docs: preserve bounded Ubuntu support claims
  README.md
Due: none

test: exercise genuine IPsec tunnel end to end
  .github/workflows/integration-tests.yml
  tests/README.md
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check, actionlint

test: make IPsec tunnel proof fail closed
  tests/e2e/test-vpn-connectivity.sh
  tests/e2e/xfrm-byte-count.awk
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

fix: isolate IPsec client runtime state
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

ci: preserve secure IPsec integration coverage
  .github/workflows/integration-tests.yml
Due: actionlint

fix: authenticate GCE canary through ADC
  .github/workflows/provider-firewall-canary.yml
  roles/cloud-gce/tasks/destroy.yml
  roles/cloud-gce/tasks/main.yml
  roles/cloud-gce/tasks/prompts.yml
  tests/unit/test_cloud_firewall_canary_policy.py
Due: ty-check, ansible-lint, ansible-syntax, actionlint

fix: fail closed during canary cleanup
  .github/workflows/provider-firewall-canary.yml
  tests/unit/test_cloud_firewall_canary_policy.py
Due: ty-check, actionlint

test: add provider firewall canary
  .github/workflows/provider-firewall-canary.yml
  tests/e2e/verify-cloud-firewall.py
  tests/unit/test_cloud_firewall_canary_policy.py
  tests/unit/test_cloud_firewall_verifier.py
Due: ty-check, actionlint

security: prove canary ownership before cleanup
  .github/workflows/provider-firewall-canary.yml
  roles/cloud-ec2/tasks/cloudformation.yml
  roles/cloud-gce/tasks/main.yml
  tests/e2e/verify-cloud-firewall.py
  tests/unit/test_cloud_firewall_canary_policy.py
  tests/unit/test_cloud_firewall_verifier.py
Due: ty-check, ansible-lint, ansible-syntax, actionlint

security: close remaining validation policy gaps
  .github/workflows/smart-tests.yml
  CONTRIBUTING.md
  docs/deploy-from-script-or-cloud-init-to-localhost.md
  docs/deploy-to-unsupported-cloud.md
  scripts/check-internal-links.py
  tests/unit/test_ci_fail_closed.py
  tests/unit/test_internal_link_checker.py
  tests/unit/test_release_documentation_policy.py
  tests/unit/test_secret_artifact_policy.py
Due: ty-check, actionlint

Harden WireGuard QR generation
  roles/wireguard/tasks/main.yml
  roles/wireguard/tasks/qr.yml
  tests/integration/test_qr_generation.yml
  tests/unit/test_qr_task.py
Due: ty-check, ansible-lint, ansible-syntax

security: serialize QR generation safely
  roles/wireguard/tasks/qr.yml
  tests/unit/test_qr_task.py
Due: ty-check, ansible-lint

test: exercise QR failure and launcher matrix
  tests/integration/test_qr_generation.yml
  tests/unit/test_qr_runtime_matrix.py
  tests/unit/test_qr_task.py
Due: ty-check, ansible-lint

docs: define retained provider verification scope
  docs/threat-model.md
  tests/unit/test_security_documentation_policy.py
Due: ty-check

docs: complete secure feature acceptance gate
  docs/threat-model.md
  tests/unit/test_security_documentation_policy.py
Due: ty-check

docs: define secure-core threat model
  README.md
  SECURITY.md
  docs/threat-model.md
  tests/unit/test_security_documentation_policy.py
Due: ty-check

docs: strengthen threat model policy checks
  docs/threat-model.md
  tests/unit/test_security_documentation_policy.py
Due: ty-check

test: permit explicit excluded-provider policy
  tests/unit/test_release_documentation_policy.py
Due: ty-check

test: define StrongSwan backend parity contract
  tests/unit/test_strongswan_backend_contract.py
Due: ty-check

feat: select secure StrongSwan backend by Ubuntu release
  roles/common/tasks/facts.yml
  roles/strongswan/defaults/main.yml
  roles/strongswan/handlers/main.yml
  roles/strongswan/tasks/distribute_keys.yml
  roles/strongswan/tasks/ipsec_configuration.yml
  roles/strongswan/tasks/main.yml
  roles/strongswan/tasks/openssl.yml
  roles/strongswan/tasks/ubuntu.yml
  roles/strongswan/templates/swanctl.conf.j2
  tests/unit/test_strongswan_backend_contract.py
  tests/unit/test_strongswan_backend_selection.py
Due: ty-check, j2lint, ansible-lint, ansible-syntax

test: enforce StrongSwan backend parity
  .github/workflows/strongswan-swanctl.yml
  roles/strongswan/templates/100-CustomLimitations.conf.j2
  roles/strongswan/templates/ipsec.conf.j2
  roles/strongswan/templates/strongswan.conf.j2
  tests/integration/render-strongswan-swanctl.py
  tests/integration/test-strongswan-swanctl.sh
  tests/unit/test_strongswan_backend_contract.py
  tests/unit/test_strongswan_backend_selection.py
  tests/unit/test_strongswan_templates.py
Due: ty-check, j2lint, actionlint

test: keep Ubuntu 26.04 behind validation gate
  roles/common/tasks/ubuntu.yml
  tests/unit/test_ubuntu_2604_support_gate.py
Due: ty-check, ansible-lint

security: enforce StrongSwan backend isolation
  roles/common/tasks/main.yml
  roles/common/tasks/packages.yml
  roles/strongswan/tasks/ubuntu.yml
  roles/strongswan/templates/100-CustomLimitations.conf.j2
  tests/integration/test-strongswan-swanctl.sh
  tests/integration/test-strongswan-systemd.sh
  tests/unit/test_strongswan_backend_contract.py
  tests/unit/test_strongswan_backend_selection.py
  tests/unit/test_strongswan_templates.py
Due: ty-check, j2lint, ansible-lint, ansible-syntax

test: allow explicit Ubuntu 26.04 rejection
  tests/unit/test_ubuntu_2604_support_gate.py
Due: ty-check

fix: preserve QR client index defaults
  roles/wireguard/tasks/qr.yml
  tests/integration/test_qr_generation.yml
  tests/unit/test_qr_task.py
Due: ty-check, ansible-lint

fix: reload swanctl authorities compatibly
  roles/strongswan/handlers/main.yml
  tests/integration/test-strongswan-swanctl.sh
  tests/unit/test_strongswan_backend_contract.py
  tests/unit/test_strongswan_backend_selection.py
Due: ty-check, ansible-lint, ansible-syntax

test: support swanctl-only IPsec servers
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check

fix: preserve DNS and isolated IPsec runtime
  roles/dns/templates/dnscrypt-proxy/filters.toml.j2
  tests/e2e/test-vpn-connectivity.sh
  tests/unit/test_dnscrypt_templates.py
  tests/unit/test_ipsec_e2e_policy.py
Due: ty-check, j2lint

fix: make DNS blacklist readable after secure deploy
  roles/dns/templates/adblock.sh.j2
  tests/unit/test_dnscrypt_templates.py
Due: ty-check, j2lint

Path conditions:
  ty-check: any of: \.py$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  j2lint: any of: \.j2$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  ansible-lint: any of: \.(yml|yaml)$ and \.(yaml|yml)$ and not (^(.git/|.github/|requirements\.yml)) and not ((?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$
)
  ansible-syntax: any of: main\.yml|server\.yml|users\.yml, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

  actionlint: any of: ^\.github/workflows/.*\.yml$, but not: (?x)^(
  .env/.*|
  .venv/.*|
  .git/.*|
  __pycache__/.*|
  .*\.egg-info/.*
)$

